<body>
  <div class="wrapper">
    <div class="side-bar" id="side-bar">
      <%= render "side_bar"%>
    </div>
    <div class="chat">
      <%= render "main_chat" %>
    </div>
  </div>

<script>
  const backButton = document.getElementById('back-button');
  const roomList = document.getElementById('side-bar');

  backButton.addEventListener('click', () => {
    // 戻るボタンがクリックされたときにルーム一覧を表示・非表示にする
    if (roomList.style.display === 'none' || roomList.style.display === '') {
      roomList.style.display = 'block';
    } else {
      roomList.style.display = 'none';
    }
  });
</script>
</body>