<body>
  <div class="wrapper">
    <div class="side-bar" id="side-bar">
      <%= render "side_bar"%>
    </div>
    <div class="chat">
      <%= render "main_chat" %>
    </div>
  </div>

<script>
// ページが読み込まれたときに実行されるJavaScript
document.addEventListener('DOMContentLoaded', function () {
  const backButton = document.getElementById('back-button');
  const sideBar = document.getElementById('side-bar');

  // ＜ボタンがクリックされたときの処理
  backButton.addEventListener('click', () => {
    // side-bar の表示状態を切り替える
    if (sideBar.style.display === 'none' || sideBar.style.display === '') {
      sideBar.style.display = 'block';
    } else {
      sideBar.style.display = 'none';
    }
  });

  // スマホサイズでのみ side-bar をデフォルトで非表示にする
  const isMobile = window.innerWidth <= 980;
  if (isMobile) {
    sideBar.style.display = 'none';
  };
});
</script>
</body>