.wrapper {
  display: flex;
  background-color: #fcf9ee;
}
.side-bar {
  background-color: #d0ba8e;
  width: 300px;
  height: 100vh;
  height: 100dvh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #9c8b69;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  border: 1px solid  #f2d76b;
  padding: 14px;
  color: #f2d76b;
  text-decoration: none;
}

.rooms {
  background-color: #d1b06f;
  height: calc(100vh - 100px);
  height: calc(100dvh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.chat {
  background-color: #fcf9ee;
  width: calc(100vw - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  color: #332003;
  font-size: 24px;
  text-align: center;
}

.header-category {
  display: flex;
  align-items: center;
}

.filter-selectbox {
  height: 30px;
  width: 70px;
  padding: 4px 8px;
  margin-left: 20px;
  vertical-align: middle;
  font-size: 12px;
  cursor: pointer;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid rgb(109, 61, 3);
  color: rgb(109, 61, 3);
  padding: 20px;
}

.messages {
  background-color: #f6f0d5;
  height: calc(100vh - 100px - 90px);
  height: calc(100dvh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 40px;
  color: #332003;
  overflow: hidden;
}

.message-image {
  margin-top: 0px; /* 画像とテキストの間に余白を設定 */
}

.upper-message{
  display: flex;
}

.message-user {
  color: #332003;
  font-size: 16px;
}

.message-date {
  color: #9b8f67;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #413b29;
  font-size: 14px;
  margin-bottom: 10px;
}

.form {
  background-color: #d0ba8e;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.select-box{
  width: 30%;
  font-size: 12px;
  cursor: pointer;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #3c8169;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  cursor: pointer;
}

.form-image {
  padding: 10px;
  margin: 5px 5px;
  text-align: center;
  cursor: pointer;
}

.fa-paperclip  {
  color: rgb(141, 132, 111); 
  font-size: 20px;
}

.hidden {
  display: none;
}

.back-button{
  display: none;
}

@media (max-width: 960px) {
  .side-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; /* サイドバーを画面の高さいっぱいに広げます */
    width: 100%;
    z-index: 1;
    background-color: #f6f0d5;
  }

  .side-bar-header {
    background-color: #d0ba8e;
  }
  
  .chat {
    background-color: #fcf9ee;
    width: 100vw;
  }

  .chat-header {
    height: 80px;
    padding: 0 30px;
  }

  .header-title {
    font-size: 15px;
  }

  .filter-selectbox {
    height: 20px;
    width: 60px;
    padding: 4px 8px;
    margin-left: 10px;
    font-size: 8px;
  }

  .header-button {
    margin-top: 30px;
  }
  
  .header-button a {
    height: 30px;
    width: 50px;
    padding: 5px;
    font-size: 6px;
  }  

  /* 戻るアイコンのスタイル設定 */
  .back-button {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back-button button{
    display: block;
    color: #332003;
    background-color: transparent; /* 背景色を透明にする */
    border: none; /* 枠線を削除する */
    outline: none; /* ボーダーがクリック時に出ないようにする */
    cursor: pointer;
  }

  .rooms{
    background-color: #f6f0d5;
  }
  
  .header-name a{
    font-size: 16px;
    color: #332003;
    text-decoration: none;
  }
  
  .create-room a {
    font-size: 10px;
    border: 1px solid  #332003;
    padding: 14px;
    color: #332003;
    text-decoration: none;
  }
  
  .room-name a {
    text-decoration: none;
    color: #332003;
  }

  .messages {
    height: calc(100vh - 80px - 70px);
    height: calc(100dvh - 80px - 70px);
    padding: 30px 40px 0;
  }

  .form {
    background-color: #d0ba8e;
    height: 70px;
    padding: 15px 20px;
    display: flex;
  }
  
  .form-input {
    background-color: white;
    width: 100%;
    display: flex;
  }

  .select-box{
    font-size: 10px;
  }
  
  .form-message {
    border: none;
    height: 40px;
    width: 100%;
    padding-left: 10px;
  }
  
  .form-submit {
    background-color: #3c8169;
    border: none;
    color: white;
    font-size: 16px;
    height: 40px;
    margin-left: 15px;
    padding: 0 20px;
  }
  
  .form-image {
    padding: 6px;
  }

  .fa-paperclip  {
    color: rgb(141, 132, 111); 
    font-size: 18px;
  }

  .message-image {
    max-width: 60%;
    max-height: 300px;
  }
}


@media (max-width: 480px) {
  .chat-header {
    height: 60px;
    padding: 0 20px;
  }
  
  .left-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-title {
    color: #332003;
    font-size: 15px;
    text-align: center;
  }
  
  .header-category {
    display: flex;
    align-items: center;
  }
  
  .filter-selectbox {
    height: 20px;
    width: 50px;
    padding: 2px 4px;
    margin-left: 10px;
    font-size: 6px;
  }

  .header-button {
    margin-top: 20px;
  }
  
  .header-button a {
    height: 25px;
    width: 40px;
    text-decoration: none;
    border: 1px solid rgb(109, 61, 3);
    color: rgb(109, 61, 3);
    padding: 5px;
    font-size: 8px;
  }  

  .messages {
    height: calc(100vh - 60px - 60px);
    height: calc(100dvh - 60px - 60px);
    padding: 20px 35px 0;
  }

  .message-user {
    font-size: 15px;
  }
  
  .message-date {
    font-size: 10px;
    padding-left: 7px;
  }
  
  .message-content {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .form {
    height: 60px;
    padding: 10px 15px;
  }

  .select-box{
    font-size: 8px;
  }

  .form-message {
    height: 40px;
  }

  .form-image {
    padding: 6px;
  }
  
  .form-submit {
    font-size: 16px;
    height: 40px;
    margin-left: 15px;
    padding: 0 20px;
  }
  .message-image {
    max-width: 60%;
    max-height: 200px;
  }
}